[submodule "gui-standard"]
	path = gui-standard
	url = git@github.com:random-username-here/mipt-ded-zemax.git
[submodule "mipt-ded-zemax"]
	path = mipt-ded-zemax
	url = https://github.com/random-username-here/mipt-ded-zemax.git
